*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
}

header{
    text-align: right;
}

header a{
    margin: 40px;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img{
    padding-top: 25px;
}

.botones{
    display: block;
    padding-top: 25px;
}